:root{
    --title-color: #128a4e;
    font-size: 20px;
}

@font-face {
    font-family: conthrax;
    src: url(conthrax-sb.otf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    display: flex;
    align-items: center;
    margin: 0;
    font-family: conthrax, sans-serif;
}

.side{
   height: 100vh;
   width: 40vw;
   background-image: url(deci.svg),
   url(music.svg);
   background-size: 100%, contain;
   background-repeat: no-repeat;
   background-position: 50% 104.5%, bottom;
   margin: 0 10px;
   animation: character 800ms ease-out forwards;
}


.right{
    height: 85vh;
    width: 55vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 0.8rem;
    gap: 50px;
    animation: form 800ms ease-out forwards;
}

@keyframes character{
    0%{
        transform: translateY(30%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes form{
    0%{
        transform: translateY(-30%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.right > p{
    margin: -70px 0 0 0;
    text-align: center;
    color: rgb(171, 171, 171);
    border: 1px;
}

p span{
    display: block;
    font-size: 2rem;
    color: #BA2D0B;
    animation: shift 1s linear alternate infinite;
}

@keyframes shift{
    100%{
        transform: translateY(-0.4rem);
    }
}

.row{
    display: flex;
    justify-content: center;
    width: 55vw;
}

label{
    font-size: 0.8rem;
    color: var(--title-color);
}

input{
    display: block;
    width: 90%;
    font-family: inherit;
    font-size: 0.8rem;
    border: 2px solid rgb(171, 171, 171);
    border-radius: 15px;
    height: 2rem;
    padding: 1rem;
    transition: all 200ms ease-in-out;
}

input:focus{
    outline: none;
    transform: scale(1.1) translateY(10%);
    border-color: rgb(61, 61, 61)
}

input:hover{
    border-color: rgb(61, 61, 61)
}

.submit{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 0.7rem;
    color: rgb(171, 171, 171);
}

button{
    margin: 0;
    background-color: #fff;
    border: 7px double var(--title-color);
    border-radius: 50px;
    padding: 15px;
    font-family: conthrax, sans-serif;
    color: var(--title-color);
    transition: all 100ms ease-in-out;
    animation: button 300ms ease-in-out;
}

button:hover{
    color: white;
    background-color: #BA2D0B;
    border-color: transparent;
    cursor: pointer;
}


form{
    display: flex;
    flex-direction: column;
    gap: 40px;

}

a{
    text-decoration: none;
    color: var(--title-color);
    transform: scale(0.8);
}

a:hover{
    color: #BA2D0B;
    
}

[aria-label]{
    color: #BA2D0B;
}